.manga-card{
    border-radius: 0.75rem;
    overflow: hidden;
    border: 1px solid #2C2C30;
}

.manga-img-container {
    overflow: hidden;
    height: 306px;
}

.manga-img{
    width: 217px;
}

.manga-info-box{
    color: white;
    background-color: #131317;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 13px;
    padding-right: 13px;
}

.manga-title{
    font-weight: 700;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}