.nav-bar{
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: fit-content;
    gap: 3rem;
}

.nav-item{
    color: #9CA3AF;
    transition: color 0.2s ease;
    cursor: pointer;
    width: fit-content;
    height: fit-content;
}

.nav-item:hover{
    color: white;
}

.nav-item.active{
    color:white
}

.nav-item.active:hover{
    color:#8B5CF6
}